<!-- Menu boczne (aside) -->
<aside class="col-md-3 sidebar">
    <h4>Panel Administratora</h4>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/admin">
                <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/schools">
                <i class="fas fa-school"></i> Menedzer Szkół
            </a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" href="/admin/users">
                <i class="fas fa-users"></i> Zarządzanie Użytkownikami
            </a>
        </li>-->
        <li class="nav-item">
            <a class="nav-link" href="/admin/settings">
                <i class="fas fa-cogs"></i> Ustawienia
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="/logout">
                <i class="fas fa-sign-out-alt"></i> Wyloguj się
            </a>
        </li>
    </ul>
</aside>